@font-face {
  font-family: SubjectRounded-Regular;
  src: url('../fonts/subject/SubjectRounded-Regular.ttf'); 
}
@font-face {
  font-family: SubjectRounded-Bold;
  src: url('../fonts/subject/SubjectRounded-Bold.ttf'); 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
  height: 100vh;
  font-family: SubjectRounded-Regular, sans-serif;
}

img.img-logo{ 
  width: 250px;
  height: auto;
  position: fixed;  /*------ปรับภาพให้ชัดขึ้น------**/
} 

nav{
  height: 70px;
  position: fixed;
  
}
nav.navbar-page{
  height: 40px; 
  

  background: #6762C8;
  background: -webkit-linear-gradient(left, #55C0DB, #55C0DB,#52C9E2,#70BCE4,#6B98DB,#6762C8);
  background: -o-linear-gradient(left, #55C0DB, #55C0DB,#52C9E2,#70BCE4,#6B98DB,#6762C8);
  background: -moz-linear-gradient(left, #55C0DB, #55C0DB,#52C9E2,#70BCE4,#6B98DB,#6762C8);
  background: linear-gradient(left, #55C0DB, #55C0DB,#52C9E2,#70BCE4,#6B98DB,#6762C8);
}
.search {
  width: 100%;
  position: relative;
  display: flex;
    
}

.searchTerm {
  width: 180px;
  border: 1px solid #d9d9d9;
  border-right: none;
  padding: 10px;
  height: 30px;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.searchTerm:focus{
  color: #6f6f6f;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  background: #d9d9d9;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}  
.carousel-inner{
 width: 90%;
 margin: 40px;  
 margin-left: auto;
 margin-right: auto;

}
h6{
  padding: 15px;
  text-align: right;
  color: #FEC309;
}
h5{
  padding: auto;
  color: #444444;
}
h7{
  color: #919191;
  
}
.container-user{
  text-align: center;
}
.star-rating form {
    display: none;
   
}
.star-rating .thanks-msg {
    display: none;
    font-size: 20px;
    margin: 40px auto;
    color: #4caf50;
    background-color: rgba(76, 175, 80, 0.1411764705882353);
    padding: 8px 20px;
    border-left: 3px solid #4caf50;
    border-radius: 20px;
}
.star-rating input {
    display: none;
}
.star-rating {
    margin: 10px auto;
    display: table;
    width: 350px;
}
.star-rating label {
    padding: 10px;
    float: right;
    font-size: 44px;
    color: #eee;
}
.star-rating input:not(:checked) ~ label:hover,
.star-rating input:not(:checked) ~ label:hover ~ label {
    color: #ffc107;
}
.star-rating input:checked ~ label {
    color: #ffc107;
}
.form-control{
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 20px;

}

.submit-button{
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  background-color: #4EC895;
  color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
}
.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button-section{
  padding: auto;
  text-align: center;
}
.consultButton{
  background-color: #276cc1;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px 20px 20px 20px;

}
.helpButton{
  background-color: #276cc1;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px 20px 20px 20px;
}
.generousButton{
  background-color: #276cc1;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px 20px 20px 20px;
}
.relationshipButton{
  background-color: #276cc1;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px 20px 20px 20px;
}
.volunteerButton{
  background-color: #276cc1;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px 20px 20px 20px;
}




  


